.ball_1 {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    background-color: #af1b3f;
    position: absolute;
    margin-left: -5%;
    margin-top: -2%;
    opacity: 0.5;
  }
  
.ball_2 {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    background-color: #af1b3f;
    position: absolute;
    margin-top: -5%;
    opacity: 0.5;
}
  
.img_logo {
    width: 25%;
    height: 30%;
    margin-left: 37.5%;
    margin-top: 20%;
}